@tailwind base;
@tailwind components;

.car {
	display: flex !important;
	flex-direction: row;
}
.car-product {
	margin: 30px;
	background-color: white;
	display: flex !important;
	flex-direction: column;
	align-items: center;
	width: 18vw !important;
	border-radius: 20px;
	height: 18vw;
}
.car-product-img {
	width: 10vw;
	padding-top: 20px;
}
.card:hover {
	box-shadow: 0 10px 14px rgba(0, 0, 0, 10%), 0 0 10px rgba(0, 0, 0, 10%) !important;
	transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
		0.3s box-shadow,
		0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
	transform: scale(1.025);
}

@media (max-width: 540px) {
	.car-product {
		width: 11rem !important;
		height: 15rem !important;
	}
	.car-product-img {
		width: 7rem !important;
	}
	.car-product-title {
		font-size: 1rem !important;
	}
	.navbar {
		flex-direction: column !important;
	}
	.seg1 {
		justify-content: space-between !important;
	}
	.seg-2 {
		margin-top: 1rem !important;
	}
	.heading {
		font-size: 0rem !important;
	}
	.loc-icon {
		width: 2rem !important;
		height: 2rem !important;
		margin-right: 1rem !important;
	}
	.car-div,
	.car,
	.car-img {
		height: 5rem !important;
	}
	.func {
		width: 10rem !important;
	}
	.func-grid {
		grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
	}
	.footer-1 {
		padding: 2rem !important;
	}
	.foot-icon {
		margin-left: 0.5rem !important;
	}
}
@media (min-width: 541px) and (max-width: 770px) {
	.car-product {
		width: 11rem !important;
		height: 17rem !important;
	}
	.car-product-img {
		width: 7rem !important;
	}
	.car-product-title {
		font-size: 1.1rem !important;
	}
}
@media (min-width: 780px) and (max-width: 1070px) {
	.car-product {
		width: 12rem !important;
		height: 15rem !important;
	}
	.car-product-title {
		font-size: 1.2rem !important;
	}
	.car-product-img {
		width: 8rem !important;
	}
}
@media (min-width: 1200px) {
	.car-product-img {
		width: 10rem !important;
	}
	.car-product {
		width: 15rem !important;
		height: 19rem !important;
	}
	.car-product-title {
		font-size: 1.4rem !important;
	}
}

@tailwind utilities;
