@tailwind base;
@tailwind components;

.car {
	display: flex !important;
	flex-direction: row;
}
.car-product {
	margin: 30px;
	background-color: white;
	display: flex !important;
	flex-direction: column;
	align-items: center;
	width: 18vw !important;
	border-radius: 20px;
	height: 18vw;
}
.car-product-img {
	width: 10vw;
	padding-top: 20px;
}
.card:hover {
	box-shadow: 0 10px 14px rgba(0, 0, 0, 10%), 0 0 10px rgba(0, 0, 0, 10%) !important;
	transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
		0.3s box-shadow,
		0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
	transform: scale(1.025);
}
@tailwind utilities;
